<% provide(:title, 'About') %>
<h1>当サイトについて</h1>
<p>
  当サイトはなんJまとめサイトをまとめたページです。当サイトに掲載している記事で著作権等に関して問題がございましたら下記へご連絡ください。
</p>

<p>
  Twitter: <a href="https://twitter.com/matome_nanj">@matome_nanj</a>
</p>
<p>
「なんJまとめのまとめ」の情報は、一部のサービスを除き、無料で提供されています。当サイトを利用したウェブサイトの閲覧や情報収集については、情報がユーザーの需要に適合するものか否か、情報の保存や複製その他ユーザーによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、ユーザーご自身の責任において行っていただきますようお願いいたします。
</p>
<p>
当サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
</p>
<p>
当サイトが紹介しているウェブサイトやソフトウェアの合法性、正確性、道徳性、最新性、適切性、著作権の許諾や有無など、その内容については一切の保証を致しかねます。
</p>
当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
</p>
