<% provide(:title, 'All rsses') %>
<h1>All rsses</h1>

<%= link_to "Create new rss", new_rss_path, class: "btn btn-primary" %>

<%= will_paginate %>

<ul class="rsses">
    <%= render @rsses %>
</ul>

<%= will_paginate %>
