<tr>
  <td>
    <p><b><%= link_to item.title, item.link, :target => "_blank"%></b></p>
    <small><i><%= item.rss_title %></i></small><br>
    <small><%= item.date.strftime('%Y年%m月%d日 %H:%M') %></small>
  </td>
</tr>
