<li>
  <%= link_to item.title, item %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", item, method: :delete, class: "btn btn-danger",
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
