<ul class="share-button">
<li>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://matome-nanj.net/" data-via="matome_nanj" data-size="large" data-related="matome_nanj" data-hashtags="なんJまとめのまとめ" data-dnt="true">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
<li>
<a href="http://b.hatena.ne.jp/entry/https://matome-nanj.net/" class="hatena-bookmark-button" data-hatena-bookmark-title="なんJまとめのまとめ" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="30" height="30" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</li>
<li>
 <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
 <script type="text/javascript">
   new media_line_me.LineButton({"pc":false,"lang":"ja","type":"c","text":"https://matome-nanj.net/","withUrl":true});
 </script>
</li>
</ul>
