<% provide(:title, 'All items') %>
<h1>All Items</h1>

<%= link_to "Create new item", new_item_path, class: "btn btn-primary" %>

<%= will_paginate %>

<ul class="items">
    <%= render @items %>
</ul>

<%= will_paginate %>
