<% provide(:title, 'なんJまとめのまとめ') %>
<h1>なんJまとめのまとめ</h1>
<% if current_user && current_user.admin? %>
  <%= link_to "Create new item", new_item_path, class: "btn btn-primary" %>
<% end %>

<ul class="table">
    <%= render @items %>
</ul>

<%= will_paginate %>
