<footer class="footer">
  <small>
  なんJまとめのまとめ Copyright © 2016 wkodate. All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", "https://twitter.com/matome_nanj" %></li>
    </ul>
  </nav>
</footer>
