<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to image_tag("ic_white.png", :size => "48x48", alt: "nanj-matomeno-matome logo"), root_path, id: "logo-image" %>
    <%= link_to "なんJまとめのまとめ", root_path, id: "logo-text" %>
  </div>
</header>
